body {
    margin: 0;
}

.header {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 20px 10px;
  }
  
  .header select {
    float: right;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
  }

  .appName {
    float: left;
    font-size: 35px;
    font-weight: 600;
    font-family: cursive;
  }

  .parallax { 
    background-image: url(../img/background.jpg);

    height: 845px; 

    min-width: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .container {
    list-style:none;
    margin: 0;
    padding: 0;
  }
  .item {
    background: black;
    padding: 5px;
    width: 260px;
    height: 250px;
    margin: 10px;
    
    line-height: 20px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    opacity: 0.95;
  }

  .item img {
      height: 150px;
      width: 245px;
  }

  .item a {
      text-decoration: none;
      color: white;
  }
  
  /*float layout*/
  .float {
    max-width: 1200px;
    margin: 0 auto;
  }
  .float:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
  .float-item {
    float: left;
    list-style: none;
  }

  footer {
      color: white;
      background-color: black;
      text-align: right;
  }

  @media only screen and (max-width: 1180px) {
    .parallax {
        height: 1120px;
    }
  }

  @media only screen and (max-width: 886px) {
    .parallax {
        height: 1395px;
    }
}